
body {
	/*background-image: url('/resources/backgrounds/csa.jpg');*/
	line-height: 1.2rem;
}

.MAIN_header {
	width: 100%;
	height: 50px;
	padding: 50px 0;
	text-align: center;
}

.MAIN_content {
	width: 800px;
	height: 0;
	overflow: visible;
}

.images img {
	width: 300px;
	height: 225px;
	margin-bottom: 5px;
}

.images {
	width: 700px;
	height: 250px;
}

.quote {
	font-style: italic;
	margin-left: 35%;
}

.quote_end {
	font-style: italic;
	margin-left: 40%;
}

p.bold {
	font-weight: bold;
	font-size: 1.1rem;
}

.paypal {
	margin-top: 10px;
	width: 180px;
}

.paypal select {
	margin-left: -70px;
}

.paypal img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home_footer {
	margin-top: 20px;
}
